{% extends 'base.html' %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'challenges/challenges.css' %}?timestamp={% now 'U' %}">
<link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}?timestamp={% now 'U' %}">
{% endblock %}

{% block page_title %}
Monthly Challenges
{% endblock %}

{% block navbar %}
{% include 'challenges/includes/navbar.html' %}
{% endblock %}


{% block content %}

<main>
    <section>
        <ul>
            {% for month in months %}
            <li><a href="{% url 'challenges:str-month-challenge' month=month%}">{{ month|title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</main>

{% endblock %}